# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment directories
venv/
.venv/
env/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Test results
.pytest_cache/
.tox/
reports/*
!reports/.gitkeep
coverage/
htmlcov/
*.cover
.cache
nosetests.xml
coverage.xml
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE / Editor directories and settings
.zed
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python environment variables
*.env

# Local configuration files
*.local
*.cfg

# Git-specific files
.git/
.gitignore
